* {
  font-family: sans-serif;
  overflow: hidden;
}
.container {
  width: 700px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.left-side {
  background: #373737;
  width: 350px;
  height: 500px;
}
.right-side {
  background: black;
  width: 350px;
  height: 500px;
  position: relative;
}
.header {
  margin: 0 auto;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}
.header h1 {
  align-items: center;
  color: aliceblue;
  font-size: 30px;
  margin-left: 5px;
}
.header i {
  margin: 5px;
}
hr {
  width: 330px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
}
.username {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  margin-left: 10px;
  font-size: 18px;
}
.username-input {
  position: absolute;
  top: 60px;
  margin-left: 10px;
  width: 95%;
  border-radius: 4px;
}
input{
  width: 95%;
}
.password {
  position: absolute;
  top: 130px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 18px;
}
.password-input {
  position: absolute;
  top: 160px;
  margin-left: 10px;
  width: 95%;
  border-radius: 4px;
}
.inputs label {
  color: aliceblue;
}
.inputs {
  height: 300px;
  position: relative;
}
input[type="text"],
input[type="password"] {
  padding: 10px 2px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #cccccc;
}
.button {
  margin: 5px 7px;
  padding: 0;
  position: absolute;
  top: 370px;
  left: 260px;
}
.button button {
  width: 100%;
  background-color: #529dfe;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button button:hover {
  background-color: #74b0fe;
}
.left-side {
  display: flex;
  flex-direction: column;
}
.left-side img {
  width: 230px;
  justify-self: center;
}
.image {
  align-self: center;
}
.left-side h2 {
  text-align: center;
  color: aliceblue;
  font-size: 30px;
}
.left-side p {
  text-align: center;
  color: aliceblue;
}
